@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #333;
}

.publish-button{
  margin-left: 15px;
}

.card-creation-container{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 50px;*/
  margin-bottom: 50px;
  border: 1px solid #efefef;
  height: 700px;
  overflow: hidden;
}

/*========= grid ==========*/
.card-create-col-6{
  width: 50%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

/*========== fonts ===========*/

.subheading-text{
  font-weight: 700;
  font-size: 1.2em;
}

p{
  line-height: 1.5em;
  margin-bottom: 15px;
}

/*========== sidebar ===========*/
.card-create-sidebar{
  /*background: #fafafa;*/
  border-right: 1px solid #efefef;
  height: 700px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
  box-shadow: 0px 0px 10px #efefef;
  float: left;
  position: absolute;
  z-index: 999;
  background: white;
}

.card-create-sidebar:hover{
  width: 250px;
}

.sidebar-card-search{
  margin-bottom: 10px;
}

.single-element{
  padding: 10px 1px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 250px;
  cursor:pointer;
}

.single-element:hover{
  background: #1371D8; /*#fafafa*/
  color: white;
}

.selected{
  background: #1371D8;
  color: white;
}

.sidebar-textbox{
  background: #fafafa;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 0px;
  font-size: 1em;
  height:50px;
}

.sidebar-textbox:focus{
    outline: none;
}

.card-create-branding{
  filter: grayscale(1);
  opacity: 0.5;
}

.card-create-branding:hover{
  filter: grayscale(0);
  opacity: 1;
  background: white !important;
}

.branding-icon{
  /*background: #efefef;*/
  height: 37px;
  width: 37px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.branding-name{
  display: inline-block;
  float: left;
  margin-top: 8px;
}
.card-type-icon{
  height: 28px;
  width: 28px;
  background: #efefef;
  padding: 2px;
  border-radius: 4px;
  opacity: 0.7;
  display: inline-block;
  margin-left: 1px;
  margin-right: 17px;
  float: left;
}

.card-type-icon img{
  width: 100%;
}

.card-type-name{
  width: 180px;
  display: inline-block;
  float: left;
  font-weight: bold;
}

.card-account-name{
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

/*========== steps-area ==========*/
.steps-area{
  position: relative;
  width: 729px;
  height: 100%;
  display: inline-block;
  float: right;
}

.steps{
  height: 50px;
  background: #fafafa;
  padding: 8px 15px;
  box-sizing: border-box;
}

.step-1{
  border-right: 1px solid #efefef;
}

.step-no{
  color: #bbb;
  border: 2px solid #bbb;
  border-radius: 50px;
  height: 32px;
  width: 32px;
  text-align: center;
  font-size: 1.3em;
  vertical-align: middle;
  padding-top: 5px;
  float: left;
  margin-right: 10px;
}

.step-name{
  font-size: 1.2em;
  color: #bbb;
  padding-top: 8px;
}

.active-step .step-no,.active-step .step-name{
  color: #1371D8;
  border-color: #1371D8;
}

.display-area{
  font-size: 3em;
  color: #cdcdcd;
  font-weight: 400;
  padding-left: 50px;
  padding-top: 200px;
}

.info-text{
  font-size: 0.4em;
  color: #cdcdcd;
  font-weight: 300 !important;
  margin-top:20px;
}

.selected-card-preview{
  /*padding: 15px;*/
  display: inline-block;
  width: 100%;
  box-sizing: border-box;s
}

#protograph-explainer-card-div{
  text-align: center;
}

.selected-card-preview .card-create-col-6{
  padding: 15px;
}

.preview-title{
  font-size: 2em;
  font-weight: bold;
}

.protograph_card_div{
  width: 300px;
  text-align: left;
}

/*========= buttons ===========*/
.default-button{
  padding: 7px 12px;
  font-size: 1em;
  /*background: white;*/
  border:  1px solid rgba(34,36,38,.15);
  border-radius: 4px;
  /*width: 100%;*/
  position: relative;
  cursor: pointer;
}


.default-button:hover{
  border: 1px solid rgba(59, 160, 249, 0.8);
}

.primary-button{
  background: #1371D8;
  color: white;
  border: 1px solid #1371D8 !important;
}

.disabled-button{
  background: #efefef;
  color: #ccc;
  border: 1px solid #efefef;
}

#proto_publish_button {
  position: absolute;
  right: 30px;
  bottom: 30px;
}